.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards__title {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}

.cards__item {
  position: relative;
  height: 576px;
  margin-bottom: 34px;
  padding-top: 40px;
  background-color: rgba(233, 233, 233, 1);
}

.cards__item::before {
  content: "\25cf\2006\25cf\2006\25cf";
  position: absolute;
  color: white;
  font-size: 31px;
  top: -8px;
  left: 10px;
  z-index: 1;
}

.cards__item:hover,
.cards__item:focus {
  box-shadow: 0 4px 10px 4px rgba(237, 237, 237, 1);
  background-color: rgba(77, 77, 77, 1);
  transition: ease-out 0.25s;
}

.cards__item:hover .cards__popup,
.cards__item:focus .cards__popup {
  display: block;
}

.cards__popup {
  display: none;
  position: absolute;
  top: 315px;
  text-align: center;
  width: 360px;
  height: 300px;
  box-sizing: border-box;
  padding-top: 100px;
  z-index: 1;
  box-shadow: 0 10px 10px 4px rgba(210, 210, 210, 1);
  background-image: linear-gradient(to bottom, transparent 0, transparent 70px, rgba(238, 238, 238, 1) 71px, rgba(238, 238, 238, 1) 300px);
}

.cards__description {
  line-height: 1.2;
  margin-bottom: 30px;
}
