.filters {
  width: 260px;
  outline: 3px dotted aqua;
}

.filters legend {
  font-family: "robotobold", "Arial", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  padding-top: 54px;
}

.filters__layout-type label {
  padding-left: 35px;
}
