.header {
  position: relative;
  padding-top: 45px;
  padding-left: 140px;
  padding-right: 140px;
  min-height: 495px;
  background-color: rgba(238, 238, 238, 1);
}

.header--inner {
  min-height: 305px;
}

.header__logo {
  font-size: 0;
  margin-right: auto;
}

.header__logo--inner:hover,
.header__logo--inner:focus {
  opacity: 0.7;
  transition: ease-out 0.2s;
}

.header__logo--inner:active {
  opacity: 0.3;
  transition: ease-out 0.2s;
}

.header__menu {
  font-family: "robotomedium", "Arial", sans-serif;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.header__menu img {
  vertical-align: top;
}

.header__links {
  min-width: 440px;
  display: flex;
  justify-content: space-between;
}

.header__links a {
  position: relative;
  line-height: 5;
}

.header__links a:hover,
.header__links a:focus {
  color: rgba(251, 86, 90, 1);
  transition: ease-out 0.2s;
}

.header__links a:active {
  color: rgba(166, 166, 166, 1);
  transition: ease-out 0.2s;
}

.header__links .current::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgba(251, 86, 90, 1);
}

.header__title {
  font-size: 55px;
  line-height: 1;
  margin: 0;
  padding-top: 52px;
  text-align: center;
}

.header__slogan {
  font-family: "robotomedium", "Arial", sans-serif;
  font-size: 55px;
  line-height: 1;
  margin: 0;
  padding-right: 780px;
}

.header__description {
  padding-top: 8px;
  padding-bottom: 22px;
}
