
.page-statistics__title {
  font-family: "robotomedium", "Arial", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 5;
  margin: 0;
  padding-left: 20px;
}

.page-statistics__table--rate {
  font-size: 45px;
}

.page-statistics__table--rate sup {
  font-size: 26px;
}

.page-statistics__table--rate td {
  padding-right: 20px;
}

.page-statistics__table--features {
  line-height: 1;
}
