.page {
  margin-bottom: 130px;
  padding-top: 80px;
  padding-left: 140px;
  padding-right: 140px;
}

.page--inner {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 0;
  padding-left: 140px;
  padding-right: 140px;
}

.page__description {
  display: inline-block;
  width: 795px;
  min-height: 530px;
}

.page__statistics {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  min-height: 530px;
}

.page__catalog {
  width: 760px;
}
