.write-us {
  position: fixed;
  box-sizing: border-box;
  top: 15%;
  left: 24%;
  width: 960px;
  height: 590px;
  padding-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 10px 20px 6px rgba(150, 150, 150, 1);
  z-index: 2;
}

.write-us__title {
  font-size: 45px;
  line-height: 1;
  margin: 0;
}

.write-us__close-popup {
  position: absolute;
  top: 65px;
  left: 850px;
  font-size: 52px;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(251, 86, 90, 1);
  background-color: transparent;
  opacity: 0.7;
}

.write-us__form {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.write-us__form label {
  font-family: "robotomedium", "Arial", sans-serif;
  line-height: 2.4;
}

.write-us__name {
  margin: 0 40px 0 0;
}

.write-us__email {
  margin: 0;
}

.write-us__message {
  margin: 25px 0 35px 0;
}

.write-us__name input,
.write-us__email input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding-left: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.write-us__message textarea {
  box-sizing: border-box;
  width: 760px;
  height: 120px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

/////////////////////////////////////////////////////
// Поведение кнопки закрыия попапа и полей
.write-us__close-popup:hover,
.write-us__close-popup:focus {
  opacity: 1;
  transition: ease-out 0.2s;
}

.write-us__close-popup:active {
  opacity: 0.3;
  transition: ease-out 0.2s;
}

.write-us__name input:focus,
.write-us__email input:focus,
.write-us__message textarea:focus {
  border: 2px solid rgba(0, 0, 0, 1);
  transition: ease-out 0.2s;
}

.write-us__name input:invalid,
.write-us__email input:invalid {
  color: rgba(231, 66, 70, 1);
  border: 2px solid rgba(231, 66, 70, 1);
  transition: ease-out 0.2s;
}
