.write-us__title {
  font-size: 45px;
}

.write-us__close-popup {
  font-size: 45px;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(251, 86, 90, 0.5);
  background-color: transparent;
}

.write-us__form label {
  font-weight: 700;
}
